* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, #87CEEB, #ffffff);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial;
    overflow: hidden;
}

.game-container {
    position: relative;
    width: 350px;
    height: 600px;
}

canvas {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    border: 2px solid #333;
    position: absolute;
    z-index: 1;
}

.start-screen {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10;
    background: rgba(0,0,0,0.6);
    color: white;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.btn {
    margin-top: 20px;
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #ff4d6d;
    color: white;
    cursor: pointer;
}

.score {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 22px;
    font-weight: bold;
    z-index: 5;
}
